<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div class="container">
      <form action="/" method="post">
        <input type="text" id="textBar" name="newTodo" placeholder="Add a todo...">
        <input type="submit" name="submit" value="Add Todo...">
      </form>
    </div>
    <div>
      <h1 class="red">Incomplete Tasks</h1>
      {{#toDo}}
      <form class="incomplete" action="/" method="post">
        <input type="submit" name="incomplete" value="{{.}}">

      </form>
      {{/toDo}}

    </div>
    <div>
      <h2 class="blue">Complete Tasks</h2>
      {{#completed}}
      <form class="complete">
        <label for="check">{{.}}</label>
      </form>
      {{/completed}}
    </div>

  </body>
</html>